// latest-instagram-shots
.aside__row {
    width: 100%;
    padding: 36px 0;
  }
  
  .instagram-shots__title {
    display: flex;
    justify-content: space-between;
  
    .instagram-shots__link {
      display: none;
      color: var(--main-color-text);
    }
  }
  
  .instagram-shots__content {
    list-style: none;
  
    .shot-item {
      &:nth-child(n + 2) {
        display: none;
      }
  
      .shot-item__img img {
        object-fit: cover;
        width: 300px;
      }
    }
  }
  
  @media screen and (min-width: 768px) {
    .aside__row {
      background: #f7f7f7;
    }
  
    .instagram-shots__title {
      .instagram-shots__link {
        display: inline-block;
        font-size: 13px;
        margin-bottom: 36px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  
    .instagram-shots__content {
      display: flex;
      gap: 9px;
  
      .shot-item {
        &:nth-child(n + 1) {
          display: inline-block;
        }
        &:nth-child(n + 4) {
          display: none;
        }
        .shot-item__img img {
          width: 250px;
        }
      }
    }
  }
  
  @media screen and (min-width: 1200px) {
    .instagram-shots__content {
      gap: 10;
      .shot-item {
        &:nth-child(n + 1) {
          display: flex;
        }
  
        .shot-item__img img {
          width: 285px;
        }
      }
    }
  }
  
  